h1 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-style: normal;
    font-family: sans-serif;
    font: helvetica;
    text-align: center;
    letter-spacing: 1px;
}

body {
    font-family: sans-serif;
    background-color: cornflowerblue;
    background-image: url("../files/images/background.png");
    background-repeat: repeat;
    font-weight: 500;
}

.header {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.content {
    background-color: white;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    text-align: left;
}

#content1 {
    background-color: white;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    text-align: left;
    padding-right: 300px;
}

#content2 {
    text-align: right;
    padding-right: 20px;
    padding-left: 300px;
    border-bottom: 2px solid black; /* remover quando adicionar mais conteudo, adicionar na ultima div de todo o conteudo */
    border-bottom-left-radius: 5px; /* remover quando adicionar mais conteudo, adicionar na ultima div de todo o conteudo */
    border-bottom-right-radius: 5px; /* remover quando adicionar mais conteudo, adicionar na ultima div de todo o conteudo */
}

.nav {
    background-color: white;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    border: 2px black solid;
    padding: 5px;
    margin-bottom: 5px;
}

#home_link_button {
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_link_button:hover {
    background-color: lightgray;
}

#hobbies_link_button {
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#hobbies_link_button:hover {
    background-color: lightgray;
}

#socials_link_button {
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#socials_link_button:hover {
    background-color: lightgray;
}

#portfolio_link_button {
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#portfolio_link_button:hover {
    background-color: lightgray;
}

#daily_link_button {
    padding: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#daily_link_button:hover {
    background-color: lightgray;
}